* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    color: inherit;
}

body{
    width: 100vw;
    height: 100vh;

}
.header{
    position: relative;
}

main{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    grid-template-rows: 3fr 1fr;
}
main *{
    border: 1px solid red;
}

.hero{
    grid-column: span 3;
}
.descBar{
    grid-column: span 3;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
}